/* Media query para telas menores que 576px (dispositivos móveis, incluindo smartphones) */
@media (max-width: 600px) {
    /* Estilos para dispositivos móveis, incluindo smartphones */
    .card {
        margin-top: 4%;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital@1&display=swap');

* {
    font-family: 'Archivo Narrow', sans-serif;
}

.style-nav-r4mpo {
    background-color: rgb(0, 74, 0);
    border-bottom: 3px solid rgb(0, 255, 0);
}

.card-img-top {
    height: 200px;
    /* Definindo a altura desejada */
    object-fit: cover;
    /* Controla como a imagem é exibida */
}

.content {
    background-image: url('../../images/gif/galax-green-1.gif');
    background-size: cover;
}

.content-itens h4 {
    color: rgb(0, 255, 0);
}

.footer-r4mpo {
    color: rgb(0, 255, 0);
    background-color: rgb(0, 74, 0);
    border-top: 3px solid rgb(0, 255, 0);
    text-align: center;
    clear: both;
    padding: 5px 5px 5px 5px;
}